In [43]:
import numpy as np
import pandas as pd
from datetime import date

****ЗАДАЧА 1****

In [3]:
df = pd.read_csv('weatherHistory.csv')
print(max(df['Temperature (C)']))

39.90555555555555

In [39]:
df['Precip Type'].value_counts()

In [37]:
print(df['Temperature (C)'].groupby(df['Precip Type']).mean())

Precip Type
rain    13.852989
snow    -3.270885
Name: Temperature (C), dtype: float64

In [38]:
df[df['Temperature (C)'] > 0].shape[0]

85741

**ЗАДАЧА 2**

In [44]:
df["Formatted Date"] = pd.to_datetime(df["Formatted Date"], utc=True)
df1 = df['Temperature (C)'].groupby(df['Formatted Date'].dt.date).mean()
df1 = df1.reset_index()
df1.loc[df1['Formatted Date'] == date(2016, 9, 9)]

,Formatted Date,Temperature (C)
3905,2016-09-09,22.730093

**ЗАДАЧА 3**

In [61]:
df["Month"] = df["Formatted Date"].dt.month
df2 = df.groupby(['Month']).agg({'Temperature (C)': 'mean', 'Wind Speed (km/h)': 'mean'})
df2 = df2.reset_index()

,Month,Temperature (C),Wind Speed (km/h)
0,1,0.815678,11.515865
1,2,2.166880,12.180815
2,3,6.914976,13.415825
3,4,12.769200,11.876139
4,5,16.874455,10.953186
5,6,20.728510,9.632453
6,7,22.965462,9.637124
7,8,22.339134,8.942707
8,9,17.503458,9.610204
9,10,11.334119,10.008495
10,11,6.587549,10.947953
11,12,1.625086,11.094578

In [46]:
df

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-03-31 22:00:00+00:00,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-03-31 23:00:00+00:00,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 00:00:00+00:00,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 01:00:00+00:00,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 02:00:00+00:00,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 17:00:00+00:00,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 18:00:00+00:00,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 19:00:00+00:00,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 20:00:00+00:00,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 21:00:00+00:00,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.